nav{
        position: static;
        height: auto;
    }
    nav ul {
        display: block;
        float: none;
        width: 100%;
        margin: auto;
        padding: 0px;
        text-align: center;
    }
    nav ul li{
        display: block;
        float: none;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 0px;
        background-color: white;
    }
    nav ul li:hover{
        background-color: #E5CDCD;
    }
    #icon{
        display: none;
    }
    header{
        min-height: 10px;
    }
    header h1{
        padding-top: 20px;
    }