 header{
        background-image: none;
        min-height: 100px;
    }
    header h1{
        padding-top: 100px;
    }
    header div{
        padding-left: 50px;
        padding-right: 50px;
    }
    nav ul{
        display: none;
    }
    #icon{
        display: inline-block;
        float: right;
        max-width: 50px;
        padding-top: 0px;
    }
    #icon img{
        float: right;
        height: 100%;
        width: 100%;
        padding-right: 20px;
        padding-bottom: 10px;
    }
    .responsive ul{
        display: block;
        float: none;
        width: 100%;
        margin: auto;
        padding: 0px;
        text-align: center;
    }
    .responsive ul li{
        display: block;
        float: none;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 0px;
        background-color: white;
    }
    .responsive ul li:hover{
        background-color: #E5CDCD;
    }
    .responsive #icon{
        position: absolute;
        top: 18px;
        right: 0;
    }
    .section{
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #section-2 .feature_one{
        margin: auto;
    }
    #section-3 .feature_one{
        margin: auto;
    }
    #section-3 .feature_one,#section-3 .feature_two{
        border-bottom: 0.5px solid rgba(0,0,0,0.5);
    }
    .feature_one, .feature_two{
        max-width: 600px;
        margin: auto;
        display: block;
        margin-bottom: 50px;
    }
    .content{
        margin: 0px;
    }
    .content h2{
        text-align: center;
    }
     .content{
        text-align:  center;
    }
    .content ul{
        list-style-type: none;
        padding-left: 0px;
    }
    .content ul li:before{
        content: url(../images/list_dot.png)
    }
    .content ul li{
        padding-left: 3px;
    }
    .img_wrap{
        text-align: center;
    }
    .img_wrap img{
        display: block;
        margin: auto;
        float: none;
        padding: 0;
    }
    #footer-content{
        padding-left: 50px;
        padding-right: 50px;
    }
}