body{
    background-color: white;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #354e5a;
}
hr{
    margin-top: 50px;
}
h1{
    font-weight: 300;
}
h1{
    font-size: 35px;
    color: #ee4d4a;
    padding-top: 405px;
}
h1.csc-firstHeader{
    font-size: 35px;
    color: #ee4d4a;
    padding-top: 405px;
}
a { 
    color: inherit;
    text-decoration: inherit;
}
a:hover{
    color: #ee4d4a;;
}
nav, header, footer{
    width: 100%;
}
nav{
    position: fixed;
    z-index: 999;
    background-color: white;
    height: 80px;
    font-size: 17px;
    top: 0px;
}
nav ul{
    float: right;
    list-style-type: none;
    margin-top: 10px;
}
nav ul li{
    display: inline;
    letter-spacing: -0.15px;
    padding-right: 22px;
}
#menu{
    padding-top: 18px;
    max-width: 960px;
    margin: auto;
}
#logo{
    float: left;
    padding-left: 20px;
    padding-right: 10px;
    cursor: pointer;
}
#menu p{
    display: inline-block;
    margin-top: 10px;
    letter-spacing: -0.3px;
    max-width: 220px;
}

#icon{
        display: none;
}
header{
    min-height: 600px;
    background-color: #eaecdf;
    background-image: url(../images/foto.jpg);
    background-position: 49% 82%;
    background-repeat: no-repeat;
    padding-bottom: 20px;
}
header div{
    max-width: 960px;
    margin: auto;
}
header h1{
    font-size: 34.8px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.1px;
    padding-top: 405px;
    margin: auto;
}
header p{
    text-align: center;
    font-size: 15.65px;
    margin-top: 12px;
    line-height: 26px;
    letter-spacing: 0.2px;
    word-spacing: 1.2px;
}

.divider{
    max-width: 500px;
    color: white;
    height: 40px;
    text-align: center;
    background-image: url("../images/divider.png"); 
    background-repeat: no-repeat;
    background-position: center top;
    line-height: 40px;
    margin-bottom: 0;
    margin: auto;
    margin-top: -20px;
    font-size: 16px;
    cursor: pointer;
}
.section{
    min-height: 400px;    
    max-width: 960px;
    margin: auto;
    padding-bottom: 20px;
}
#section-2 .feature_one, #section-2 .feature_two{
    max-width: 390px;
}

#section-2 .content p{
    margin-top: 40px;
}
#section-3{
    margin-top: -45px;
    padding-bottom: 25px;
    margin-bottom: 60px;
}
#section-3 h2{
    margin-bottom: 0px;
}
#section-3 .feature_one, #section-3 .feature_two{
    max-width: 410px;
}
#section-4{
    margin-top: -80px;
}
.csc-default{
    color: #354e5a;
}
.content{
    max-width: 960px;
    margin: auto;
}
.content h1{
    color: #ee4d4a;
    font-size: 16px;
    padding-top: 20px;
}
.content h1.csc-firstHeader{
    color: #ee4d4a;
    font-size: 16px;
    padding-top: 20px;
}
.content h2{
    font-weight: 300;
    font-size: 34px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-left: 18px;
}
.content ul{
    list-style-type: none;
    padding-left: 0px;
    line-height: 26px;
    margin-top: 10px;
    font-size: 16px;
    clear: both;
}
.content ul li:before{
    content: url(../images/list_dot.png)
}
.content ul li{
    padding-left: 3px;
}
.content ul{
    
}
.content p{
    font-size: 16px;
}
.wrapper{
    overflow: auto;
    padding-left: 7px;
    padding-bottom: 30px;
}
.column_left{
    float: left;
}

.column_right{
    float: right;
    margin-right: 36px;
}
.feature_one, .feature_two {
    max-width: 410px;
    padding-right: 15px;
    padding-left: 15px;

}
.csc-textpicHeader .csc-textpicHeader-26 .csc-firstHeader{
    color:  #ee4d4a;
    font-weight: 300;
}

.csc-textpic-intext-left-nowrap-78 .csc-textpic-text {
    margin-left: 0px;
}

.csc-textpic-intext-left-nowrap .csc-textpic-text{
    margin-left: 0px;
}

.csc-textpic-intext-left-nowrap .csc-textpic-text{
    margin-top: 12px;
}
footer{
    background-color: #354e5a;
    margin-top: 60px;
        color: white;
    font-weight: 300;
    min-height: 1000px;
}
footer h2{
    font-weight: 700;
    font-size: 34px;
    color: #ee4d4a;
    text-align: center;
    padding-top: 20px;

}
footer h3{
    font-weight: 300;
    font-size: 16px;
    color: white;
    text-align: center;
    margin-top: -20px;
}
footer hr{
    max-width: 960px;
    color: rgb(200, 200, 200);
    color: rgba(255,255,255, 0.1);
}
footer p.bodytext{
    font-weight: 300;
    font-size: 14px;
    color: rgb(200, 200, 200);
    color: rgba(255,255,255, 0.5);
    text-align: center;
    padding-top: 40px;
    max-width: 650px;
    margin: auto;
}
footer h1.csc-firstHeader{
    color: white;
    padding-top: 50px;
    padding-bottom: 15px;
    font-size: 36px;
}
.text-center{
    text-align: center;
}
.red{
    color: #ee4d4a;
}

@media screen and (max-width: 960px){ 
    header{
        background-image: none;
        min-height: 100px;
    }
    header h1{
        padding-top: 100px;
    }
    header div{
        padding-left: 50px;
        padding-right: 50px;
    }
    nav ul{
        display: none;
    }
    #icon{
        display: inline-block;
        float: right;
        max-width: 50px;
        padding-top: 0px;
    }
    #icon img{
        float: right;
        height: 100%;
        width: 100%;
        padding-right: 20px;
        padding-bottom: 10px;
    }
    .responsive ul{
        display: block;
        float: none;
        width: 100%;
        margin: auto;
        padding: 0px;
        text-align: center;
    }
    .responsive ul li{
        display: block;
        float: none;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 0px;
        background-color: white;
    }
    .responsive ul li:hover{
        background-color: #E5CDCD;
    }
    .responsive #icon{
        position: absolute;
        top: 18px;
        right: 0;
    }
    .section{
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #section-2 .feature_one{
        margin: auto;
    }
    #section-3 .feature_one, #section-3 .feature_two{
        margin: auto;
    }
    #section-3 .feature_one,#section-3 .feature_two{
        border-bottom: 0.5px solid rgba(0,0,0,0.5);
    }
    .wrapper{
        padding-left: 0px;
    }
    .content{
        margin: 0px;
    }
    .content h2{
            text-align: center;
            margin: 0px;
            margin-top: 25px;
            margin-bottom: 25px;
    }
     .content{
        text-align:  center;
    }
    .content ul{
        list-style-type: none;
        padding-left: 0px;
        margin: auto;
        margin-top: 10px;
    }
    .content ul li:before{
        content: url(../images/list_dot.png)
    }
    .content ul li{
        padding-left: 3px;
    }
    .content h2{
        padding-top: 0px;
        padding-left: 0px;
    }
    .feature_one, .feature_two{
        max-width: 600px;
        margin: auto;
        display: block;
        margin-bottom: 50px;
    }
    div.csc-textpic .csc-textpic-imagewrap table{
        margin: auto;
    }
    div.csc-textpic-intext-left-nowrap .csc-textpic-imagewrap{
        width: 100%;
        margin: auto;
    }
    h1.csc-firstHeader{
        padding-top: 100px;
    }
    .content h1.csc-firstHeader{
        margin: 0px;
    }
    .column_left, .column_right{
        float: none;
    }

    .column_right{
        margin-right: 0px;
    }
    div.csc-textpic .csc-textpic-imagewrap img{
        margin: auto;
    }

    
    .feature_one, .feature_two{
        padding-right: 0px;
        padding-left: 0px;
    }
    footer{
        min-height: 1000px;
    }

}

@media screen and (max-width: 350px){
    nav{
      position: static;
      height: auto;
    }
    nav ul {
      display: block;
      float: none;
      width: 100%;
      margin: auto;
      padding: 0px;
      text-align: center;
    }
    nav ul li{
      display: block;
      float: none;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 0px;
      background-color: white;
    }
    nav ul li:hover{
      background-color: #E5CDCD;
    }
    #icon{
      display: none;
    }
    header{
      min-height: 10px;
    }
    header h1{
      padding-top: 20px;
    }
    header div {
      padding-left: 0px;
      padding-right: 0px;
    }
}